@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); /* Bootstrap Icons */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"); /* Roboto Flex Font */

textarea:disabled {
  cursor: not-allowed;
}

#polybrain-assistant {
  position: fixed;
  bottom: 60px;
  right: 10px;
}
#primary-button {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 20px;
  bottom: 6px;
  z-index: 10;
  opacity: 80%;
  transform: scale(1.2);
  padding: 0;
  border: none;
  transition: 0.3s;
  border-radius: 100px;
  background-color: transparent;
}

#primary-button.hover {
  height: 60px;
  opacity: 100%;
  transform: scale(1.3);
}

#primary-button-icon {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: 0px;
  z-index: 15;
  aspect-ratio: 1;
}

#hover-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85px;
  position: absolute;
  right: 1px;
  bottom: 70px;
  transition: 0.3s;
}

#hover-menu .hover-menu-button {
  z-index: 15;
  color: white;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

#hover-menu .hover-menu-button:hover {
  background-color: #ffffff1a;
}
#hover-menu .hover-menu-button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}
#hover-menu .hover-menu-button:hover:disabled {
  background-color: transparent;
}

#hover-menu .background {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

#chat-window {
  right: 30px;
  bottom: 130px;
  position: fixed;
  width: 268px;
  background-color: #363d43;
  border-radius: 10px;
  overflow: hidden;
}

#chat-header {
  position: absolute;
  background-color: #515c65;
  height: 33px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#chat-header .logo {
  height: 24px;
  margin: 0px 6px 0px 10px;
}

.logo-font {
  color: #f8fffd;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Roboto Flex", sans-serif;
}

#chat-header .logo-font {
  margin: 0;
  font-size: 18px;
}

#chat-header .chat-header-btn {
  color: white;
  position: absolute;
  background-color: transparent;
  border: none;
  border-radius: 99px;
  transition: 0.3s;
}

#chat-header .chat-header-btn:hover {
  color: white;
  position: absolute;
  background-color: transparent;
  border: none;
  border-radius: 99px;
  background-color: #ffffff1a;
}

#chat-header .chat-header-btn.min {
  right: 35px;
}
#chat-header .chat-header-btn.exit {
  right: 10px;
}

#chat-window {
  flex-direction: column;
  box-shadow: 2px 2px 6px #000000a0;
}

#chat-input {
  align-self: center;
  overflow: hidden;
  /* position: absolute; */
  margin-bottom: 10px;
  width: 247px;
  min-height: 29px;
  height: auto;
  background-color: #515c65;
  display: flex;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid transparent;
}

#chat-input.selected {
  border: 1px solid #0078d7;
}
#chat-input.disabled {
  opacity: 50%;
  cursor: not-allowed;
}

#chat-input textarea {
  align-self: center;
  font-size: 12px;
  flex: 1;
  color: white;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}

#chat-input #chat-input-send {
  font-size: 18px;
  color: white;
  padding-right: 13px;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  transition: 0.2s;
}
#chat-input #chat-input-send:hover {
  background-color: #ffffff1a;
}
#chat-input #chat-input-send:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

#chat-message-display {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
  overflow: scroll;
  min-height: 203px;
  max-height: 300px;
  /* margin-top: 33px; */
  width: 100%;
}

#chat-message-display > :first-child {
  margin-top: auto !important;
}

#chat-message-display .message-container {
  display: flex;
  align-items: center;
  width: 80%;
  color: white;
  margin-bottom: 20px;
}
#chat-message-display .message-container h3 {
  font-size: 15px;
  margin: 0;
}
#chat-message-display .message-container p {
  font-size: 12px;
  margin: 0;
  text-wrap: wrap;
}

#chat-message-display .message-container img {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 7px;
}
